.CheckboxOption {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.CheckboxOption__input {
  margin-right: 5px;
}

.CheckboxOption__text {
  margin: 0;
  font-family: 'Graphik-Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  /* font-size: 10px; */
  line-height: 14px;
  margin-right: 10px;
  color: #7F8DAA;
}
